<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsGui.Properties.Settings>
            <setting name="txtUrlForStatusPost" serializeAs="String">
                <value>http://188.166.126.168:52155</value>
            </setting>
            <setting name="txtAddress" serializeAs="String">
                <value>0xc9415baeE78b36d37fFfb75f3a95c56dE4431508</value>
            </setting>
            <setting name="txtMinerName" serializeAs="String">
                <value>rig1</value>
            </setting>
            <setting name="temperatureLimit" serializeAs="String">
                <value>25</value>
            </setting>
        </WindowsGui.Properties.Settings>
    </userSettings>
</configuration>